.navbar {
  display: flex;
  justify-content:space-between;
  padding: 10px;
  background-color: black;
}

.menu {
  display: inline-flex;
  gap: 20px;
  list-style: none;
}

.menu a {
  list-style: none;
  text-decoration: none;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 10px;
  margin-top: 5px;
}

.menu a:hover {
  background-color: white;
  border-radius: 100px;
  color: black;
}

.carrinho {
  display: flex;
  align-items: flex-end;
  margin-right: 30px;

}
/* .submenu {
  display: none; 
  text-decoration: none;
  justify-content: center;
  background-color: black;
  color: white;
} 

.manu li .submenu:hover {
  display: block;
} */
