.alert {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: red;
  color: white;
  border-color: black;
  font-size: 20px;
  padding: 15px 0;
  justify-content: center;
  font-weight: bolder;
  z-index: 1000;
}

h1 {
  display: flex;
  font-family: "Roboto", serif;
  margin-top: 50px;
  padding: 20px;
  justify-content: center;
  font-size: 30px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: black;
}

.menu {
  display: inline-block;
  gap: 20px;
  padding: 10px;
}

.menu a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 10px;

}


.menu a:hover {
  background-color:white;
  border-radius: 100px;
  color: black;
}

/* .submenu {
  display: none; 
  text-decoration: none;
  justify-content: center;
  background-color: black;
  color: white;
} */

/*.manu li .submenu:hover {
  display: block;
}/*

